footer {
  position:fixed;
  bottom: 0;
  width: 100%;
  /* background-color: #333333; */
}
footer p {
  position: absolute;
  width: 100%;
  color: #ccc;
  line-height: 40px;
  font-size: 0.7em;
  text-align: center;
  bottom:0;
}
