.note {
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: 238px;
    margin: 16px;
    float: left;
  }
  .note h1 {
    font-family: "McLaren", cursive;
    font-size: 1.1em;
    margin-bottom: 6px;
  }
  .note p {
    font-family: "McLaren", cursive;
    font-size: 1.1em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  .note button {
    position: relative;
    float: right;
    margin-right: 10px;
    color: black;
    border: none;
    background: transparent;
    cursor: pointer;
    outline: none;
  }
  .note button:hover{
    transform: scale(1.1);
    color: rgb(177, 76, 39);
  }